body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Implement a library app using MERN, that includes o a books view page (Book title, genre and author as thumbnails).  1
dedicated and detailed page for each book title, genre, ISBN, author, availability, etc.9AI545 , 19AI546 , 19AI512 o an admin add book details page, and o an admin edit book details page. (Book cover image is an optional field) */

/* create me a library management system that includes a book view page (Book title, genre and author as thumbnails) and dedicated page for each book title, genre, ISBN, author, availability in react js with inline css and some material ui. create me as each page and component seprately */